
/* styles.css */
body {
    margin: 0;
    padding: 0;

}

.mainContainer{
    display: grid;
    gap: 20px;

}


.bookCard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 200px;
    width: 300px;
    margin-left: 20px;
    border: 1px solid #e5acffb2;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.144);

}



.bookBtn{
    height: 50px;
    width: 150px;
    font-family: Roboto, sans-serif;
    background-color: rgb(62, 165, 255);
    border-radius: 10px;
}


.cardTitle{
    width: 100%;
    border: 1px solid blue;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}



.cardcontent{
    width: 100%;
    border: 1px solid red;
    font-family: Roboto, sans-serif;
    font-size: 14px

}